<!DOCTYPE html>
<html lang="en">
<head>
  <title>Покупка</title>
  {% include "../templs/style.html" %}
</head>
<header>
  {% include "../templs/profile_btn.html" %}
</header>
<body>
  <form style="width: 100%;" method="POST" id="frm">
    <v-card style="padding: 30px; margin: 100px 40px 0 40px; min-width: 1000px; box-shadow: 0 0 12px #000;display: flex;" theme="dark">
      <div style="width: 35%;">
        <v-img
          src="{{ item.item_image }}"
          cover
          width="500"
          style="border-radius: 10px;"
        ></v-img>
        <v-card-title style="margin-top: 30px">{{ item.item_name }}</v-card-title>
      </div>
      <div style="width: 65%; position: relative; margin-left: 30px">
        <p style="font-size: 20px;">Описание: {{ item.item_description }}</p>
        {% csrf_token %}
        <v-btn type="submit" color="orange" variant="tonal" theme="primary" style="width: 100%; height: 80px; bottom: 0; position: absolute; font-size: 25px;">
          Купить за {{ item.item_price }}
        </v-btn>







      <v-dialog max-width="500">
        <template v-slot:activator="{ props: activatorProps }">
          <v-btn color="orange" variant="tonal" theme="primary" style="width: 100%; height: 80px; bottom: 0; position: absolute; font-size: 25px;" v-bind="activatorProps">
            Купить за {{ item.item_price }}
          </v-btn>
        </template>

        <template v-slot:default="{ isActive }">
          <v-card title="Покупка предмета">
            <v-card-text>
              {{ item.item_name }}
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn style="font-family: JetBrains Mono; color: rgb(48, 209, 88);" type="submit" form="frm">
                  Купить за {{ item.item_price }}?
              </v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>








      </div>
    </v-card>
  </form>

{% include "templs/footer.html" %}
</body>
<script src="../static/js/script.js"></script>
</html>
