<!DOCTYPE html>
<html lang="en">
<head>
  <title>Профиль</title>
  {% include "../templs/style.html" %}
</head>
<header>
  {% include "../templs/profile_btn.html" %}
</header>
<body>

<form method="POST" enctype="multipart/form-data" id="frm">
  {% csrf_token %}
  <v-card theme="dark" style="margin: 80px 0 20px 50px; width: 70%; padding: 50px 50px 20px 50px">

  <v-img
    :width="300"
    :height="300"
    aspect-ratio="1/1"
    cover
    src="{% if profile.image %}{{ profile.image.url }}{% else %}https://cdn.vuetifyjs.com/images/parallax/material.jpg{% endif %}"
    style="border-radius: 5px"
  ></v-img>
  <p class="text-h6" style="font-family: 'JetBrains Mono'; margin-top: 25px">Баланс: {{ profile.balance }}</p>
  <v-file-input name="filename" theme="dark" label="Файл изображения" variant="solo-filled"  style="margin: 30px 0 5px 0; border-radius: 20px; width: 100%" accept="image/*"></v-file-input>
  <v-text-field name="firstname" label="Текущее имя: {{ user.first_name }}" variant="solo-filled" style="margin-top: 5px; border-radius: 20px; width: 100%"></v-text-field>
  <v-text-field name="lastname" label="Текущая фамилия: {{ user.last_name }}" variant="solo-filled" style="margin-top: 5px; margin-bottom: 5px; border-radius: 20px; width: 100%"></v-text-field>










    <v-dialog max-width="500">
      <template v-slot:activator="{ props: activatorProps }">
        <v-btn append-icon="mdi-content-save-all" theme="light" v-bind="activatorProps">
          Применить
        </v-btn>
      </template>

      <template v-slot:default="{ isActive }">
        <v-card title="Профиль">
          <v-card-text>
            Сохранить изменения?
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn type="submit" form="frm" style="background-color: white; color: black;">
              Сохранить
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>




  </v-card>

</form>

</body>
<script src="../static/js/script.js"></script>
</html>
