<div class="inventory_item">
  <v-img
    class="align-end text-white"
    src="{{ item.item.item_image }}"
    cover
    style="border-radius: 10px 10px 0 0"
  >
  </v-img>

  <v-card-title>
    {{ item.item.item_name }}<br>
    <span style="font-weight: 600; font-size: 13px; opacity: 0.2;">Уникальный id: {{ item.item_unique_id }}</span>
  </v-card-title>

  <v-card-actions>
    <v-btn class="sold_btn" style="height: 50px;" href="/sell/{{ item.item_unique_id }}" color="green">
        Продать
    </v-btn>
  </v-card-actions>

</div>
