<div class="inventory_item">
  <v-img
    class="align-end text-white"
    src="{{ item.item.item_image }}"
    cover
    style="border-radius: 10px 10px 0 0"
  >
  </v-img>

  <v-card-title>
    {{ item.item.item_name }}<br>
    Цена: <span style="color: orange">{{ item.item_price }}</span><br>
    <span style="font-weight: 600; font-size: 15px;">
      Продавец:
      <span style="color: green">{{ item.item_owner.username }}</span>
      {% if request.user == item.item_owner %}(Вы){% else %}{% endif %}
    </span>
    <br>
    <span style="font-weight: 600; font-size: 14px; opacity: 0.5;">id предмета: {{ item.item_unique_id }}</span>
  </v-card-title>

  <v-card-actions>
    {% if request.user == item.item_owner %}
    <v-btn class="cancel_btn" style="height: 50px;" color="red">
        Снять с продажи
    </v-btn>
    {% else %}
    <v-btn class="buy_btn" style="height: 50px;" href="/buy/{{ item.item_unique_id }}">
        Купить
    </v-btn>
    {% endif %}

  </v-card-actions>

</div>
