{% if request.path != "/" %}

<a href="/" style="margin: 5px 0 auto 5px; font-family: JetBrains Mono; color: rgb(48, 209, 88); position: absolute;">
  <v-btn prepend-icon="mdi-arrow-left" theme="light" variant="text" height="50">ГЛАВНАЯ</v-btn>
</a>

{% else %}
{% endif %}

<v-container fluid :position="absolute">
  <v-row justify="center">
    <v-menu min-width="200px" rounded>
      <template v-slot:activator="{ props }">
        <v-btn icon v-bind="props">
          <v-avatar color="white" size="large">
            <v-img
              alt="Avatar"
              src="{% if profile.image %}{{ profile.image.url }}{% else %}https://cdn.vuetifyjs.com/images/parallax/material.jpg{% endif %}"
            ></v-img>
          </v-avatar>
        </v-btn>
      </template>
      <div class="profile_container">
        <a href="../logout" class="logout_btn"><v-icon size="large" icon="mdi-power-standby" title="Выйти"></v-icon></a>
        <v-card-text>
          <div class="mx-auto text-center">
            <v-avatar color="white" style="width: 80px; height: 80px; margin: 0 0 10px 0">
              <v-img
                alt="Avatar"
                src="{% if profile.image %}{{ profile.image.url }}{% else %}https://cdn.vuetifyjs.com/images/parallax/material.jpg{% endif %}"
              ></v-img>
            </v-avatar>
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p class="text-caption mt-1" style="font-size: 14px;">{{ user.email }}</p>
            <v-divider class="my-3"></v-divider>
            <p class="text-h6" style="font-family: 'JetBrains Mono';"><span style="font-size: 25px;">Баланс: {{ profile.balance }}</span></p>
            <v-divider class="my-3"></v-divider>
            <a href="../profile" style="color: primary;"><v-btn variant="text" rounded><span style="font-size: 16px; letter-spacing: 2px; opacity: 0.9; font-weight: 700">Редактировать профиль</span></v-btn></a>
            <v-divider class="my-3"></v-divider>
            <a href="../inventory" style="color: green;"><v-btn variant="text" rounded><span style="font-size: 18px; letter-spacing: 1.5px; opacity: 0.9; font-weight: 700">Инвентарь</span></v-btn></a>
          </div>
        </v-card-text>
      </div>
    </v-menu>
  </v-row>
</v-container>
