<v-container style="height: 300px" fluid>
  <v-row justify="center">
    <v-menu min-width="200px" rounded>
      <template v-slot:activator="{ props }">
        <v-btn icon v-bind="props">
          <v-avatar color="brown" size="large">
            <v-img
              alt="Avatar"
              src="{% if profile.image %}{{ profile.image.url }}{% else %}https://cdn.vuetifyjs.com/images/parallax/material.jpg{% endif %}"
            ></v-img>
          </v-avatar>
        </v-btn>
      </template>
      <v-card>
        <v-card-text>
          <div class="mx-auto text-center">
            <v-avatar color="brown">
              <v-img
                alt="Avatar"
                src="{% if profile.image %}{{ profile.image.url }}{% else %}https://cdn.vuetifyjs.com/images/parallax/material.jpg{% endif %}"
              ></v-img>
            </v-avatar>
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p class="text-caption mt-1">{{ user.email }}</p>
            <v-divider class="my-3"></v-divider>
            <p class="text-h6" style="font-family: 'JetBrains Mono'">Баланс: {{ profile.balance }}</p>
            <v-divider class="my-3"></v-divider>
            <a href="../profile" style="color: green;"><v-btn variant="text" rounded>Редактировать профиль</v-btn></a>
            <v-divider class="my-3"></v-divider>
            <v-btn variant="text" rounded>Инвентарь</v-btn>
            <v-divider class="my-3"></v-divider>
            <a href="../logout" style="color: red;"><v-btn variant="text" rounded>Выйти</v-btn></a>
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
  </v-row>
</v-container>
