<v-card

  style="margin: 15px; width: 33%; min-width: 100px"
>
  <v-img
    class="align-end text-white"
    height="325"
    src="{{ item.item_image }}"
    cover
  >
  </v-img>



  <v-card-title>{{ item.item_name }}</v-card-title>

  <v-card-actions>
    <v-dialog max-width="500">
      <template v-slot:activator="{ props: activatorProps }">
        <v-btn
          v-bind="activatorProps"
          color="surface-variant"
          text="Купить"
          variant="flat"
        ></v-btn>
      </template>
    
      <template v-slot:default="{ isActive }">
        <v-card title="Внимание">
          <v-card-text>
            Вы уверены?
          </v-card-text>
    
          <v-card-actions>
            <v-spacer></v-spacer>
    
            <v-btn
              text="Купить"
              @click="isActive.value = false"
            ></v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </v-card-actions>
</v-card>
