<v-card

  style="margin: 15px; width: 33%; min-width: 100px"
>
  <v-img
    class="align-end text-white"
    src="{{ item.item_image }}"
    cover
  >
  </v-img>

  <v-card-title>{{ item.item_name }}</v-card-title>
  <v-card-text>{{ item.item_price }}</v-card-text>

  <v-card-actions>
    <a href="/item/{{ item.item_url }}" style="text-decoration: none; color: #FF9800;">
      <v-btn style="font-family: JetBrains Mono;" color="orange">
          Купить
      </v-btn>
    </a>
  </v-card-actions>

</v-card>
