html {
  margin: 0;
  overflow: hidden
}

body {
  background-color: #1C1A24;
  font-family: 'JetBrains Mono';
  margin: 0;
  overflow: hidden
}


.form {
  position: relative;
  border-radius: 10px;
  max-width: 500px;
  min-height: 350px;
  padding: 15px;
  margin: 20px auto;
  margin-top: 200px;

}



.exists {
  bottom: 0;
  font-size: 17px;
  padding-bottom: 0px;
  margin-top: 25px;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #FFF; /*#BDECB6*/
  font-family: inherit;
  font-size: 16px;
}


.input-group {
  margin-bottom: 15px;
}

.choose_file {
  margin: 20px 0 0 50px;
  width: 500px;
  height: 200px;
  background-image: url(../img/camera_icon.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  border: 0;
}

.vote_space {
  justify-content: center;
  border-radius: 5px;
  border: 0;
  margin: 150px 0 0 80px;
  padding: 20px;
}

.vote_block {
  width: 650px;
  border-radius: 5px;
  border: 1px;
  box-shadow: 0 0 5px #000;
  padding: 15px;
  margin-bottom: 20px;
}


h1 {
    color: White;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    display: inline-block;
  }

header{
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #595c5f;
  z-index: 500;
}

.inline{
  display: inline-block;
}

.buy_btn {
  font-family: JetBrains Mono;
  width: 100%;
  height: 50px;
  background-color: #403D4D;
  transition: 300ms;
  color: #FF9800;
}

.buy_btn:hover {
  background-color: #806CF5;
  color: white;
  transition: 300ms;
}

.scroll_block {
  position: fixed;
  height: 800px;
  width: 100%;
  top: 80px;
  left: 200px;

  padding-right: 230px;
}

.pretty_scroll {
  scrollbar-color: hsla(0, 0%, 100%, .1) transparent;
  scrollbar-width: thin;
}

.inventory_item {
  margin: 10px;
  width: 16.66%;
  min-width: 100px;
  background-color: #312f3d;
  color: white;
  border-radius: 10px;
}

.sold_btn {
  font-family: JetBrains Mono;
  width: 100%;
  background-color: #403D4D;
}

.cancel_btn {
  font-family: JetBrains Mono;
  width: 100%;
  height: 50px;
  background-color: #403D4D;
  transition: 300ms;
}

.logout_btn {
  color: white;
  opacity: 0.6;
  position: absolute;
  top: 14px;
  right: 12px;
  transition: 150ms;
}

.logout_btn:hover {
  opacity: 1;
  transition: 150ms;
}

.logout_btn:active {
  opacity: 0.3;
  transition: 150ms;
}

.profile_container {
  background-color: rgba(0,0,0, 0.5);
  box-shadow: 0 0 15px rgba(0,0,0, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  color: white;
}

.footer_block {
  position: fixed;
  min-width: 200px;
  width: 5%;
  height: 100%;
  z-index: 10000;
  background: #1C1A24;
  color: white;
  top: 0;
  margin-top: 60px
}

.content_block {
  height: 800px;
  background-color: #282633;
  margin-top: -1px;
}
