<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <title>{{ pagename }} - Simple votings</title>
        {% block extra_css %} {% endblock %}
    </head>


    <body>
        <header>
            {% include 'base/menu.html' %}
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

        <footer>
            {% block footer %}
                <span>&copy; ШП, {% now "Y" %}</span>
            {% endblock %}
        </footer>

        {% block extra_js %} {% endblock %}
    </body>


</html>